<html>
	{{>footer}}
	<body>
		<p> Información del Usuario: </p>
		
			<li> Nombre: {{usuario.name}} </li>
			<li> Apellidos: {{usuario.surname}}</li>
			<li> Edad: {{usuario.edad}}  </li>
			<li> Dni: {{usuario.nif}}  </li>
			<li> Correo: {{usuario.correo}} </li>
		</form>
	</body>
</html>