<html>
	{{>footer}}
	<body>
		<p> Información del Usuario: </p>
            {{#reservas}}
			<li> Vuelo de Ida ->  Cod: {{ida.codigo}} Aeropuerto de salida: {{ida.aeropouertoSalida}} Aeropuerto de llegada: {{ida.aeropuertoLlegada}} Fecha de salida: {{ida.fechaSalida}} Fecha de Llegada: {{ida.fechaLlegada}}</li>
			<li> Vuelo de Vuelta ->  Cod: {{vuelta.codigo}} Aeropuerto de salida: {{veulta.aeropouertoSalida}} Aeropuerto de llegada: {{vuelta.aeropuertoLlegada}} Fecha de salida: {{vuelta.fechaSalida}} Fecha de Llegada: {{vuelta.fechaLlegada}}</li>
			<li> Hotel -> Nombre: {{hotel.name}} Estrellas:{{hotel.estrellas}}  </li>
			
            {{reservas}}
		</form>
	</body>
</html>