<html>
	{{>footer}}
	<body>
		<p> Ciudades Disponibles: </p>
		
			<li>Nombre: {{usuario.name}} Apellidos: {{usuario.surname}} Edad: {{usuario.edad}}
                Dni: {{usuario.nif}} Correo: {{usuario.correo}} </li>
		
		</form>
	</body>
</html>