<html>
	<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
	<body>
		<h1> Vuelanding </h1>
		<ul class="nav nav-pills">
			<li class="nav-item"><a class="nav-link active" href="/buscarVuelo">Buscar Vuelo</a></li>
			<li class="nav-item"><a class="nav-link" href="/buscarVueloHotel">Buecar Vuelo + Viaje</a></li>
			<li class="nav-item"><a class="nav-link" href="/informacionReservas">Mirar Reservas Vuelos</a></li>
			<li class="nav-item"><a class="nav-link active" href="/informacionPersonal">Mirar Perfil</a></li>
			<li class="nav-item"><a class="nav-link" href="/aeropuerto">Añadir/Eliminar Aeropuertos</a></li>
			<li class="nav-item"><a class="nav-link" href="/pagina">Inicio</a></li>
		</ul>
	</body>
</html>