<html>
	<body>
	
		<h1> Bienvenido a Vuelanding</h1>
		
		<form action="usuario/nuevo" method="post">
		<p>Usuario: </p>	
		<input type='text' name='name'/>
		<p>Contraseña:</p>
		<input type='text' name='surname'/>
		<input type='submit' value='Save'/>
		
		<br><a href="nuevousuario">Crear Usuario</a></br>
	</form>
	</body>
</html>