<html>
	<body>
	
		<h1> Introduce los campos</h1>
		
		<form action="/usuario/crearUsuario" method="post">
		<p>Usuario: </p>	
		<input type='text' name='name'/>
		<p>Apellido:</p>
		<input type='text' name='surname'/>
		<p>Edad:</p>
		<input type='text' name='edad'/>
		<p>Nif:</p>
		<input type='text' name='nif'/>
		<p>Correo:</p>
		<input type='text' name='correo'/>
		<p>Contraseña:</p>
		<input type='text' name='password'/>
		<input type="hidden" name="_csrf" value="{{token}}"/>
		<input type='submit' value='Save'/>
		
	</form>
	</body>
</html>
