<html>
	{{>footer}}
	<body>
		<h4> Los datos introducidos al crear un objeto son erroneos o </h4>
		<h4> Los datos introducidos al eliminar un objeto son erroneos</h4>
		<br> <a href="/pagina">Volver</a></br>
	</body>
</html>