<html>
	{{>footer}}
	<body>
		<br> Introducir Datos Aeropuerto </br>
		<form action="/aeropuerto/crear" method="post">
		<p>Ciudad del Aeropuerto: (Madrid)</p>	
		<input type='text' name='ciudad'/>
		<p>Codigo del Aeropuerto: (Bar)</p>	
		<input type='text' name='codigo'/>
		<p>Nombre del Aeropuerto: (Barajas)</p>	
		<input type='text' name='nombre'/>
		<br><input type='submit' value='Crear'/></br>
		</form>
	</body>
</html>